<div class="course-container">
  <div class="course-header">
    <h1>{{ course()?.title }}</h1>
    <img [src]="course()?.iconUrl" class="course-image">
  </div>
  <div class="table-container">
    <table class="results-table">
      <thead>
      <tr>
        <th>description</th>
        <th>duration</th>
      </tr>
      </thead>

      <tbody>
        @for (lesson of lessons(); track lesson.courseId) {
          <tr>
            <td>{{ lesson.description }}</td>
            <td>{{ lesson.duration }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
